body {
    font-family: 'inter';
    background: #FCFCFC;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
  


  

/*--------------------------------------------------------------
# Section-one                                                 
--------------------------------------------------------------*/  
.Section-one {
    width: 82%;
    height: 100%;
    padding-top: 8em;
    margin-top: 2em;    
    margin-bottom: 5em;
    margin: auto;
}
.Section-one .container {
    background: white;
    margin: auto;
    box-shadow: 0px 4px 17px rgba(215, 215, 215, 0.25);
    border-radius: 20px;
    padding-bottom: 2em;
}
.Section-one .container a img {
    padding-top: 1em;
    padding-left: 0.2em;
}
.Section-one .heading h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #3F3F3F;
    transition: 0.35s;
}
.Section-one .details .left, .Section-one .details .right {
    display: flex;
    margin-right: 2em;
}
.Section-one .details {
    margin-block: 1em;
    display: flex;
}
.Section-one .details p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #3F3F3F;
    margin-left: 0.5em;
    margin-bottom: 0;
}
.Section-one .bottom img {
    margin-top: 3em !important;
    display: block;
    margin: auto;
    width: 100%;
    padding-bottom: 2em;
}
.Section-one .description {
    padding-inline: 3em;
    margin-top: 2em;
}
.Section-one .description p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #747474;
}
.Section-one .description p span {
    color: #3F3F3F;
    font-size: 21px;
    font-weight: 900;
}
.Section-one .small-heading {
    margin-top: 2em;
}
.Section-one .description ol, .Section-one .description ul {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #747474;
}
@media (max-width: 992px) {
    .Section-one .container {
        padding-bottom: 1.5em;
    }
    .Section-one {
        width: 100%;
        padding-top: 8em;
        padding-inline: 1em;
    }
    .Section-one .container {
        padding-bottom: 1em;
    }
    .Section-one .bottom img {
        width: 100%;
        border-radius: 20px;
        padding-bottom: 0;
        margin-top: 2em !important;
    }
    .Section-one .details .left, .Section-one .details .right {
        margin-right: 1em;
    }
    .Section-one .details {
      justify-content: space-between;
    }
    .Section-one .heading h1 {
      font-size: 24px;
      margin-top: 1em;
    }
    .Section-one .details p {
      font-size: 15px;
      margin-top: 4px;
    }
    .Section-one .final {
      margin-top: 2em;
    }
    .Section-one .final p {
      font-size: 14px;
    }
    .Section-one .description {
        padding-inline: 0.5em;
        margin-top: 2em;
    }
    .Section-one .description p {
        font-size: 16px;
    }
    .Section-one .description p span {
        font-size: 18px;
    }
}




/*--------------------------------------------------------------
# Section-two
--------------------------------------------------------------*/
.Section-two {
    background: #FCFCFC;
    margin-bottom: 7em;
}
.container-S2 {
  background: url("../images/page-1 (Home)/section-9/background.svg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  height: 338px;
  padding: 0;
  margin-top: 4em;
  margin-bottom: 1em;
}
.Section-two h2 {
  padding-top: 1.5em;
  padding-bottom: 0.25em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;  
}
.Section-two button {
  padding: 0.75em;
  padding-inline: 1.5em;
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 5px; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  color: #0074E4;   
}
.Section-two button:after {
  content: ' ';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}
.Section-two button a {
  color: #0074E4;
}
.Section-two button a:hover {
  color: #0074E4;
}
.Section-two button:hover:after {
  opacity: 1;
  right: 10px;
}
.Section-two button:focus {
  background: linear-gradient(0deg, #D8EBFE, #D8EBFE), #FFFFFF;
  box-shadow: 10px 10px 24px rgba(73, 90, 107, 0.23);
}
.Section-two button div {
  float: right;
}
.Section-two button img {
  padding-left: 0.5em;
  height: 1.25em;
  padding-bottom: 5px;
}
button>div { display: none; }
button:hover>div { display: block; }
@media (max-width: 992px) {
  .Section-two h2 {
    font-size: 32px;
    padding-inline: 0.25em;
  }
  .Section-two button {
    padding-block: 0.5em;
    margin-top: 0.5em;
  }
}
