body {
    font-family: 'inter';
    color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  z-index: 997;
  padding: 1em;
  box-shadow: 0px 4px 17px rgba(215, 215, 215, 0.25);
}
#header .logo {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'inter';
}
#header .logo a {
  color: #fff;
}




/*--------------------------------------------------------------
# Connect Us Button
--------------------------------------------------------------*/
.primaryButton {
  background: #3F3F3F;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
}
.primaryButton:hover {
  color: #fff;
  background: #3F3F3F;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
.primaryButton:active {
  color: #fff;
  background: #202020;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
@media (max-width: 992px) {
  .primaryButton {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */
.navbar {
  margin-left: 2em;
  padding: 0;
}
.navbar-2 {
  margin-left: 10em !important;
  padding: 0 !important;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.2em;
  color: #828282;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  font-family: 'inter';
  border-bottom: 2px solid #ffffff;
}
.navbar a i, .navbar a:focus i {
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  border-bottom: 2px solid #0074E4;
  color: #0074E4;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: #0074E4;
  font-size: 30px;
  cursor: pointer;
  display: none;
  line-height: 0;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar {
    margin-left: 0% !important;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0.5em;
  right: -0.5em;
  left: 0;
  bottom: 0;
 
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 4.4em;
  right: 0;
  bottom: 0;
  left: 3em;
  padding: 10px 0;
  border-radius: 0;
  background-color: #0074E4;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding-top: 1.75em;
  padding-left: 3em;
  font-size: 15px;
  color: #FFFFFF;
  border-bottom: none !important;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  border-bottom: none !important;
  color: #ffffff9e !important;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}






/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#Section-one {
  width: 100%;
  height: 96vh;
  background: url("../images/page-2 (SOC as a Staffing)/section-1/background.png") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  margin-top: 2.6em;
}
@media (max-width: 992px) {
  #Section-one .container {
    padding-left: 1em;
  }
  #Section-one-content {
    padding: 2em;
    text-align: left;
  }
}
#Section-one h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #202020;
}
#Section-one h3 span {
  color: #0074E4;
}
#Section-one h2 {
  width: auto;
  padding-right: 3em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #3F3F3F;  
}
#Section-one h2 span {
  color: #0074E4;
  font-weight: 600;
}
#Section-one .btns {
  margin-top: 30px;
}
#Section-one .btn-connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0074E4;
  position: static;
  max-width: 190px;
  width: auto;
  height: 51px;
  font-weight: 600;
  font-size: 18px;
  padding: 14px 21px;
  border-radius: 5px;
  color: white;
}
#Section-one .btn-connect img {
  padding-left: 0.5em;
}
a>div { display: none; }
a:hover>div { display: block; }
 
 

@media (max-height: 500px) {
  #Section-one {
    height: auto;
  }
  #Section-one .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 992px) {
  #Section-one {
    background: linear-gradient(289.05deg, #0074e461 8.46%, rgb(255 255 255 / 30%) 64.54%);
  }
  .Section-one-content {
    padding-left: 1.5em;
  }
  #Section-one h3 {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    letter-spacing: -0.02em;
  }
  #Section-one h2 {
    padding: 0px;
    margin-top: 1em;
    width: 320px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }
}





/*--------------------------------------------------------------
# Section-two
--------------------------------------------------------------*/
.Section-two {
  background: linear-gradient(90deg, rgb(12 47 82 / 100%) -17.6%, #0f62af 60.86%, #ffffff 40.86%);
}
.S2-left {
  padding-block: 7em;
}
.S2-left .heading p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: -0.01em;  
  color: #FFFFFF;
}
.S2-left .heading span {
  color: #3599f7;
}
.S2-left .description p {
  width: 32em;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
}
.S2-right {
  background:  #FCFCFC;
}
.S2-right img {
  float: right;
  padding-block: 4em;
}
@media (max-width: 991px) {
  .Section-two {
    background: linear-gradient(64.38deg, #0074E4 -25.6%, rgba(13, 45, 77, 0.86) 102.86%);
  }
  .S2-left {
    padding-block: 5em;
    padding-inline: 1.5em;
  }
  .S2-left .description p {
    width: auto;
  }
  .S2-left .heading p {
    font-size: 32px;
  }
  .S2-left .description p {
    font-size: 16px;
  }
  .S2-right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0%;
  }
  .S2-right {
    background: linear-gradient(99deg, rgba(13, 45, 77, 0) -88.6%, #0076e400 102.86%);
    height: 7em;
  }
}






/*--------------------------------------------------------------
# Section-three
--------------------------------------------------------------*/
.Section-three {
  background-color: #FCFCFC;
}
.Section-three .container {
  padding-bottom: 7em;
}
.Section-three .title-S-3 h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: 'inter';
  text-align: center;
  color: #3F3F3F;
}
.Section-three .title-S-3 p {
  width: auto;
  padding-inline: 7em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #747474;
}
.Section-three .box {
  background: linear-gradient(80.34deg, #060B25 -9.21%, #051047 88.82%);
  border: 5px solid #071871;
  border-radius: 20px;
}
.Section-three .box .img-1 {
  margin-top: 3em;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Section-three .box .img-2 {
  display: none;
}
.Section-three .box p {
  padding: 1.7em;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .Section-three .container {
    padding-bottom: 3em;
  }
  .Section-three .box .img-1 {
    display: none;
  }
  .Section-three .box .img-2 {
    padding-top: 3em;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .Section-three .title-S-3 p {
    padding-inline: 0;
  }
  .Section-three .box p {
    padding-top: 3em;
    font-size: 15px;
  }
  .Section-three .title-S-3 h1 {
    font-size: 36px;
  }
  .Section-three .container {
    padding-top: 10em;
  }
  .Section-three .title-S-3 p {
    font-size: 16px;
  }
  .Section-three .box {
    border: none;
    margin-bottom: 5em;
  }
}





/*--------------------------------------------------------------
# Section-four
--------------------------------------------------------------*/
.Section-four {
  width: 100%;
  height: auto;
  background: url("../images/page-2 (SOC as a Staffing)/section-4/bg.svg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
.Section-four .container {
  padding-top: 8em;
  padding-bottom: 8em;
}
.Section-four .heading h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #3F3F3F;
}
.Section-four .heading h6 span {
  color: #0074E4;
}
.Section-four .heading p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #747474;
}
.Section-four img {
  width: -webkit-fill-available;
}
@media (max-width: 991px) {
  .Section-four .heading h6 {
    font-size: 36px;
  }
  .Section-four .heading p {
    font-size: 16px;
    width: 80%;
    padding-top: 1em;
    padding-bottom: 4em;
  }
  .Section-four .heading {
    padding: 1em;
  }
}






/*--------------------------------------------------------------
# Section-five
--------------------------------------------------------------*/
.Section-five .container {
  margin-top: 6em;
  margin-bottom: 3em;
}
.Section-five .container-inner {
  background: #EFF2FF;
  border-radius: 20px;
  margin-block: 4em;
}
.first {
  background: #FFFFFF;
  border-radius: 10px;  
  margin: 3em;
  width: -webkit-fill-available;
}
.first .container {
  margin-block: 2em;
  float: left;
}
.first .inner-content {
  margin-block: 2em;
  margin-bottom: 3em;
}
.first .inner-content h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #3F3F3F;
}
.first .inner-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #747474;
}
.Section-five h6 {
  text-align: center;
  color: #3F3F3F;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.Section-five h6 span {
  color: #0074E4;
}
.slideshow-container {
  position: relative;
}
#demo {
  background: #F5FAFF;
  border-radius: 10px;
  height: 18em;
  margin-left: 1em;
  margin-bottom: 2em;
  border: 3px solid #0076e400;
  transition: 1s;
}
#demo:hover {
  border: 3px solid #0074E4;
  transition: 1s;
}
.carousel-caption h1 {
  position: initial;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;  
  text-align: left;
  color: #3F3F3F;
  padding-bottom: 0.5em;
}
.carousel-caption span {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(221, 221, 221, 0.25);
  border-radius: 20px;  
  padding-inline: 0.8em;
  padding-block: 0.5em;
  margin-right: 0.5em;
}
.carousel-caption {
  position: initial;
  color: rgba(78, 77, 77, 0.856);
  text-align: left;
  line-height: 160%;
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: 400;
  padding-left: 2em;
  padding-top: 2.5em;
  padding-right: 2em;
  padding-bottom: 5em;
}
.carousel-control-prev, .carousel-control-next {
  top: inherit;
}
.fa-arrow-left {
  margin-left: 4em;
}
.fa-arrow-right {
  margin-right: 4em;
}
.first i {
  background-color: #F5FAFF;
  color: #828282;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  margin-bottom: 1.5em;
}
.first i:hover {
  transition: 0.5s;
  background-color: #d0e7fd;
  border-radius: 3px;
}
.carousel-control-prev {
  justify-content: flex-start
}
.carousel-control-next {
  justify-content: flex-end
}
.Section-five .description h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3F3F3F;  
  padding-inline: 2em;
  padding-bottom: 3em;
}
.img-changer img {
  height: 95%;
  margin-top: 0.5em;
}
@media (max-width: 992px) {
  .first {
    margin-top: 3em;
    background: #FFFFFF;
    border-radius: 10px;
    margin-inline: 1em;
  }
  .first .container {
    margin-block: 2em;
    padding: 0;
    float: left;
    text-align: center;
  }
  .first .inner-content h1 {
    font-size: 18px;
    margin-bottom: 0.5em;
  }
  .first .inner-content p {
    font-size: 14px;
  }
  #demo {
    margin-left: 0;
    margin-bottom: 1em;
  }
  .Section-five .description h2 {
    font-size: 14px;
    padding-inline: 1em;
  }
  .img-changer img {
    margin: auto;
    display: block;
    height: 43%;
  }
  .container-2 {
    
  }
}





/*--------------------------------------------------------------
# Section-six
--------------------------------------------------------------*/
.Section-six {
  width: 100%;
  height: auto;
  background: url("../images/page-2 (SOC as a Staffing)/section-6/background.svg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
.Section-six .container {
  padding-block: 7em;
  padding-bottom: 6em;
}
.Section-six .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Section-six .title img {
  padding-right: 0.5em;
}
.Section-six h6 {
  font-family: 'inter';
  color: #FFFFFF;
  margin-bottom: 0%;
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}
.Section-six .description p {
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'inter';
  font-weight: 300;
  letter-spacing: 0.01em;
  padding-inline: 15em;
  padding-top: 1em;
}
.Section-six .container-inner {
  padding-top: 4em;
  padding-inline: 10em;
}
.Section-six .container-inner h6 {
  padding-top: 1em;
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.Section-six .container-inner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Section-six .card {
  padding: 1em;
  height: 15.5em;
  background: #ffffff00;
  border: none;
}
.Section-six .card:hover {
  background-color: #0d3d97;
  border-radius: 5px;
}
@media (max-width: 992px) {
  .Section-six .description p {
    padding-inline: 0;
  }
  .Section-six .container-inner {
    padding-inline: 1em;
  }
  .Section-six .card {
    margin-top: 1em;
    height: 11.5em;
  }
  .Section-six h6 {
    font-size: 32px;
  }
  .Section-six .description p {
    font-size: 16px;
  }
  .Section-six .container-inner img {
    width: 80%;
  }
  .Section-six .container-inner h6 {
    padding-inline: 0;
    padding-bottom: 2em;
  }
  .Section-six .container {
    padding-bottom: 5em;
  }
}




 
/*--------------------------------------------------------------
# section-seven
--------------------------------------------------------------*/
.Section-seven {
  background: #FCFCFC;
}
.Section-seven .container {
  padding-top: 7em;
  padding-bottom: 1em;
}
.Section-seven .heading h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #3F3F3F;
  padding-bottom: 1em;
}
.Section-seven .heading h6 span {
  color: #0074E4;
}
.Section-seven .list {
  margin-bottom: 1.75em;
}
.Section-seven .list img {
  float: left;
  margin-right: 1.25em;
  padding: 0.25em;
  background: #FFFFFF;
  box-shadow: 5px 5px 12px rgba(136, 135, 135, 0.12);
  border-radius: 5px;
}
.Section-seven .list p {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #747474;  
}
.Section-seven .right-S7 img {
  padding-block: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 992px) {
  .Section-seven .left-S7 {
    padding: 2em;
  }
  .Section-seven .right-S7 img {
    display: none;
  }
  .Section-seven .list p {
    font-size: 16px;
    margin-bottom: 2em;
  }
  .Section-seven .list img {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }
  .Section-seven .heading h6 {
    font-size: 32px;
    padding-bottom: 1.5em;
  }
}




 
/*--------------------------------------------------------------
# Section-eight
--------------------------------------------------------------*/
.Section-eight {
  background: #FCFCFC;
}
.container-S8 {
  background: url("../images/page-1 (Home)/section-9/background.svg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  height: auto;
  padding-bottom: 3em !important;
  padding: 0;
  margin-top: 6em;
  margin-bottom: 4em;
}
.Section-eight h2 {
  padding-inline: 2em;
  padding-top: 1.5em;
  padding-bottom: 0.25em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;  
}
.Section-eight button {
  padding: 0.75em;
  padding-inline: 1.5em;
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 5px; 
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  color: #0074E4;   
}
.Section-eight button div {
  float: right;
}
.Section-eight button img {
  padding-left: 0.5em;
  height: 1em;
}
button>div { display: none; }
button:hover>div { display: block; }
 
@media (max-width: 992px) {
  .Section-eight h2 {
    font-size: 32px;
    padding: 0.5em;
    padding-top: 1.25em;
  }
  .Section-eight button {
    padding-block: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }
}






/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  background-color: #FCFCFC;
  padding-bottom: 0 !important;
  padding-top: 5em;
}
.logo-footer {
  float: left;
}
.description-footer {
  padding-top: 0.5em;
  padding-left: 12em;
}
.description-footer img {
  padding-right: 1em;
}
.social-icons {
  padding: 0.75em;
}
.social-icons span {
  color: #3F3F3F;
}
.social-icons-float {
  float: left;
}
.footer-links {
  margin-top: -1em;
  margin-bottom: 3em;
}
.footer-links a {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%; 
  letter-spacing: 0.01em; 
  color: #3F3F3F;  
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer-links a:hover {
  color: #0074E4;
}
.footer hr {
  border: 1px solid #0074E4;
}
@media (max-width: 992px) {
  .logo-footer {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .social-icons {
    display: flex;
    width: 18em;
    margin: auto;
    justify-content: center;
  }
  .social-icons-float {
    float: none;
  }
  .description-footer {
    text-align: center;
    padding: 2em;
    padding-top: 4em;
  }
  .social {
    text-align: center;
    padding-block: 3em;
  }
  .social img {
    padding-inline: 1em;
    width: 62px;
  }
  .footer-links {
    margin-top: -2em;
    margin-bottom: 5em;
    justify-content: center;
    display: flex;
  }
  .footer-links a {
    width: 7em;
    text-align: center;
  }
}





/*--------------------------------------------------------------
# Copyright
--------------------------------------------------------------*/
.Copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}