body {
    font-family: 'inter';
    color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  z-index: 997;
  padding: 1.25em;
  box-shadow: 0px 4px 17px rgba(215, 215, 215, 0.25);
}
#header .logo {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'inter';
}
#header .logo a {
  color: #fff;
}




/*--------------------------------------------------------------
# Connect Us Button
--------------------------------------------------------------*/
.primaryButton {
  background: #3F3F3F;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
}
.primaryButton:hover {
  color: #fff;
  background: #3F3F3F;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
.primaryButton:active {
  color: #fff;
  background: #202020;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
@media (max-width: 992px) {
  .primaryButton {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */
.navbar {
  margin-left: 10em;
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.2em;
  color: #828282;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  font-family: 'inter';
  border-bottom: 2px solid #ffffff;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #0074E4;
}
.navbar a i, .navbar a:focus i {
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #0074E4;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 95%;
  margin-left: 3px;
}
.contact a {
  display: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: #0074E4;
  font-size: 30px;
  cursor: pointer;
  display: none;
  line-height: 0;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar {
    margin-left: 0% !important;
  }
  .navbar ul {
    display: none;
  }
  .contact a {
    display: block;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0.5em;
  right: -0.5em;
  left: 0;
  bottom: 0;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 20px;
  font-size: 2.5em;
  right: 35px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 5em;
  right: 0;
  bottom: 0;
  left: 3em;
  padding: 4em 0;
  border-radius: 0;
  background-color: #0074E4;
  box-shadow: -21px 4px 32px rgba(8, 96, 181, 0.23);
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding-top: 1.25em;
  padding-left: 2.5em;
  font-size: 15px;
  color: #FFFFFF;
  border-bottom: none !important;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  border-bottom: none !important;
  color: #ffffff9e !important;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}







/*--------------------------------------------------------------
# Section-one
--------------------------------------------------------------*/
#Section-one {
  width: 100%;
  height: 70vh;
  background: url("../images/page-4 (Technology)/section-1/background.svg") top center;
  background-size: cover;
  position: relative;
  padding-top: 5em !important;
  padding: 0;
}
.Section-one h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em; 
  color: #202020;  
}
.Section-one .container-inner {
  margin: auto;
}
.Section-one span {
  color: #0074E4;
}
@media (max-width: 992px) {
  .Section-one {
    background-position: 87% 0% !important; 
  }
  .Section-one h1 {
    font-size: 48px;
    text-align: left;
  }
}






/*--------------------------------------------------------------
# Section-two
--------------------------------------------------------------*/
.Section-two {
  width: 100%;
  height: auto;
  background: url("../images/page-4 (Technology)/section-2/background.svg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
.Section-two h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.Section-two h1 span {
  color: #19C4A5;
}
.Section-two .left p {
  padding-top: 1em;
  width: 85%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em; 
  color: #FFFFFF;
}
.Section-two .left {
  margin-block: 10em;
}
.Section-two .right {
  margin-block: 5em;
}
.box {
  display: flex;
  padding: 0.75em;
  align-items: center;
  margin-bottom: 0.5em;
  border: 1.9px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 1s;
}
.box:hover {
  border: 1.9px solid #19C4A5;
  background: #19c4a52c;
}
.box img {
  float: left;
  margin-right: 10px;
}
.box p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em; 
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 992px) {
  .Section-two h1 {
    font-size: 32px;
  }
  .Section-two .left p {
    font-size: 16px;
  }
  .Section-two .left {
    margin-top: 6em;
    margin-bottom: 0;
  }
  .Section-two .container {
    padding-inline: 1.5em;
  }
  .Section-two .container-inner > .row {
    overflow-x: auto;
  }
  .right .col-12 {
    width: 70%;
    margin-right: -1em;
  }
  .box {
    margin-bottom: 0.75em;
  }
}






/*--------------------------------------------------------------
# Section-three
--------------------------------------------------------------*/
.Section-three {
  background: #FCFCFC;
}
.container-S3 {
  background: url("../images/page-1 (Home)/section-9/background.svg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  height: auto;
  padding-bottom: 3em !important;
  padding: 0;
  margin-top: 6em;
  margin-bottom: 4em;
}
.Section-three h2 {
  padding-inline: 2em;
  padding-top: 1.5em;
  padding-bottom: 0.25em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;  
}
.Section-three button {
  padding: 0.75em;
  padding-inline: 1.5em;
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 5px; 
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  color: #0074E4;   
}
.Section-three button a, .Section-three button a:hover {
  color: #0074E4;
}
.Section-three button:focus {
  background: linear-gradient(0deg, #D8EBFE, #D8EBFE), #FFFFFF;
  box-shadow: 10px 10px 24px rgba(73, 90, 107, 0.23);
}
.Section-three button div {
  float: right;
  transition: 1s;
}
.Section-three button img {
  padding-left: 0.5em;
  height: 1em;
  transition: 1;
}
button>div { display: none; }
button:hover>div { display: block; }
@media (max-width: 992px) {
  .Section-three h2 {
    font-size: 32px;
    padding: 0.5em;
    padding-top: 1.25em;
  }
  .Section-three button {
    padding-block: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }
}






/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  background-color: #FCFCFC;
  padding-bottom: 0 !important;
  padding-top: 7em;
}
.logo-footer {
  float: left;
}
.description-footer {
  padding-top: 0.5em;
  padding-left: 12em;
}
.description-footer img {
  padding-right: 1em;
}
.social-icons {
  padding: 0.75em;
}
.social-icons span {
  color: #3F3F3F;
}
.social-icons-float {
  float: left;
}
.footer-links {
  margin-top: -1em;
  margin-bottom: 3em;
}
.footer-links a {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%; 
  letter-spacing: 0.01em; 
  color: #3F3F3F;  
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer-links a:hover {
  color: #0074E4;
}
.footer hr {
  border: 1px solid #0074E4;
}
@media (max-width: 992px) {
  .logo-footer {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .social-icons {
    display: flex;
    width: 18em;
    margin: auto;
    justify-content: center;
  }
  .social-icons-float {
    float: none;
  }
  .description-footer {
    text-align: center;
    padding: 2em;
    padding-top: 4em;
  }
  .social {
    text-align: center;
    padding-block: 3em;
  }
  .social img {
    padding-inline: 1em;
    width: 62px;
  }
  .footer-links {
    margin-top: -2em;
    margin-bottom: 5em;
    justify-content: center;
    display: flex;
  }
  .footer-links a {
    width: 7em;
    text-align: center;
  }
}






/*--------------------------------------------------------------
# Copyright
--------------------------------------------------------------*/
.Copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}