body {
    font-family: 'inter';
    color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: white;
  z-index: 997;
  padding: 1em;
  box-shadow: 0px 4px 17px rgba(215, 215, 215, 0.25);
}
#header .logo {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'inter';
}
#header .logo a {
  color: #fff;
}




/*--------------------------------------------------------------
# Connect Us Button
--------------------------------------------------------------*/
.primaryButton {
  background: #3F3F3F;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
}
.primaryButton:hover {
  color: #fff;
  background: #3F3F3F;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
.primaryButton:active {
  color: #fff;
  background: #202020;
  box-shadow: 10px 10px 24px rgba(62, 63, 65, 0.18);
}
@media (max-width: 992px) {
  .primaryButton {
    margin: 0 15px 0 0;
    padding: 8px 20px;
  }
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */
.navbar {
  margin-left: 10em;
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.2em;
  color: #828282;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  font-family: 'inter';
  border-bottom: 2px solid #ffffff;
}
.navbar a i, .navbar a:focus i {
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  border-bottom: 2px solid #0074E4;
  color: #0074E4;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: #0074E4;
  font-size: 30px;
  cursor: pointer;
  display: none;
  line-height: 0;
}
@media (max-width: 991px) {
  .navbar {
    margin-left: 2em;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0.5em;
  right: -0.5em;
  left: 0;
  bottom: 0;
 
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  font-size: 2em;
  right: 30px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 4.4em;
  right: 0;
  bottom: 0;
  left: 3em;
  padding: 10px 0;
  border-radius: 0;
  background-color: #0074E4;
  box-shadow: -21px 4px 32px rgba(8, 96, 181, 0.23);
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding-top: 1.25em;
  padding-left: 2.5em;
  font-size: 15px;
  color: #FFFFFF;
  border-bottom: none !important;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  border-bottom: none !important;
  color: #ffffff9e !important;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/page-1 (Home)/section-1 (header)/bg.png") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}
.heroh1{
  font-family: 'inter';
}
#hero .container {
  padding-top: 110px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 98px;
    padding-left: 2em;
  }
  #hero-content {
    padding: 2em;
    text-align: left;
  }
}
#hero h1 {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
#hero h1 span {
  color: #0074E4;
}
#hero h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
#hero h3 span {
  color: #0074E4;
}
#hero h2 {
  width: 676px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #FFFFFF;  
}
#hero h2 span {
  color: #0074E4;
  font-weight: 600;
}
#hero .btns {
  margin-top: 30px;
}
#hero .btn-connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0074E4;
  position: static;
  max-width: 190px;
  width: auto;
  height: 51px;
  font-weight: 600;
  font-size: 18px;
  padding: 14px 21px;
  border-radius: 5px;
  color: white;
}
#hero .btn-connect img {
  padding-left: 0.5em;
}
a>div { display: none; }
a:hover>div { display: block; }
 
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 42px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: -0.04em;
  }
  #hero h3 {
    font-size: 50px;
    line-height: 56px;
    font-weight: 600;
    letter-spacing: -0.02em;
  }
  #hero h1 span{
    font-size: 43px;
  }
  #hero h2 {
    margin-top: 1em;
    width: 320px;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.section-title p span { 
  color: #0074E4;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: 'inter' !important;
}
.section-title {
  padding-bottom: 40px;
}
.section-title p {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: 'inter' !important;
  color: #3F3F3F;;
}
@media (max-width: 992px) {
  .section-title p {
    font-size: 36px !important;
  }
  .section-title span {
    font-size: 36px !important;
  }
}




/*--------------------------------------------------------------
# Section-two
--------------------------------------------------------------*/
.Section-two {
  background: url("../images/page-1 (Home)/section-2/background.svg") top center;
  background-size: cover;
  position: relative;
  height: 100%;
  background-position: 80% 0%;
}
.box {
  width: 100%;
  margin: 0 auto;
}
.Section-two .box {
  border-radius: 15px;
  padding: 50px 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.055);
  transition: all ease-in-out 0.01s;
  background: #FFFFFF;
}
.Section-two .box h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  position: static;
  width: 8em;
  height: 34px;
  left: 0px;
  top: 0px;
  color: #0074E4;
  background-color: #C5E2FF;
  border-radius: 5px;
  margin: 0px 10px;
}
.Section-two .box h4 {
  font-family: 'inter';
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 20px 10px;
  color: #3F3F3F;
  line-height: 110%;
}
.Section-two .box p {
  width: 31.1em;
  color: #747474;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  margin: 0px 10px;
  padding: 0;
}
.Section-two .box:hover {
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.082);
}
@media (max-width: 768px) {
  .Section-two .box {
    padding: 15px;
  }
  .Section-two .box h5 {
    margin-top: 10px;
  }
  .Section-two .box h4 {
    width: 270px;
    font-size: 32px;
    font-weight: 700;
  }
  .Section-two .box p {
    width: 270px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 992px) {
  .Section-two .box {
    padding: 15px;
  }
  .Section-two .box h4 {
    width: 270px;
    font-size: 32px;
    font-weight: 700;
  }
  .Section-two .box p {
    width: 270px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 1024px) {
  .Section-two .box {
    padding: 15px;
  }
  .Section-two .box h4 {
    width: 270px;
    font-size: 32px;
    font-weight: 700;
  }
  .Section-two .box p {
    width: 270px;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }
}




/*--------------------------------------------------------------
# Section-three                                                  
--------------------------------------------------------------*/
.Section-three button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 40.2424px;
  line-height: 49px;
  text-align: center;
  background-color: #FFFFFF;
  color: #0074E4;
  padding-block: 1em;
  padding-inline: 0.5em;
  border-radius: 50%;
  border: solid 3px #0074E4;
}
.Section-three button:hover {
  box-shadow: #5989b917 0px 0px 0px 25px, #0076e409 0px 0px 0px 50px;
}
.container3 {
  padding-inline: 5em;
  padding-bottom: 5em;
  position: relative;
  width: 100%;
}
.container3 .middle {
  padding-inline: 5em;
}
.middle .line {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.container3 .img-1 img {
  display: block;
  margin-left: auto;
  margin-top: 3em;
  height: auto;
}
.container3 .img-2 img {
  display: block;
  margin: auto;
  height: auto;
}
.container3 .img-3 img {
  display: block;
  margin-right: auto;
  margin-top: 3em;
  height: auto;
}
.container3 .img-4 img {
  display: block;
  margin: auto;
  height: auto;
}
.container3 .img-5 {
  display: block;
  height: auto;
}
.container3 .img-6 img {
  display: block;
  margin: auto;
  height: auto;
}
.container3 .img-7 img {
  display: block;
  margin-left: auto;
  height: auto;
}
.container3 .img-8 img {
  margin-top: 4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.container3 .img-9 img {
  display: block;
  margin-right: auto;
  height: auto;
}
@media (max-width: 992px) {
  .Section-three button {
    box-shadow: #5989b917 0px 0px 0px 20px, #0076e409 0px 0px 0px 40px;
    font-size: 1em;
    line-height: 20px;
    padding-block: 1.5em;
    padding-inline: 1em;
    border: solid 2px #0074E4;
  }
  .container3 {
    padding-inline: 0;
  }
  .container3 .middle {
    padding-inline: 0;
  }
  .container3 .img-1 img {
    height: 40%;
  }
  .container3 .img-2 img {
    height: 40%;
  }
  .container3 .img-3 img {
    height: 40%;
  }
  .container3 .img-4 img {
    height: 40%;
  }
  .container3 .img-6 img {
    height: 40%;
  } 
  .container3 .img-7 img {
    height: 40%;
  }
  .container3 .img-8 img {
    height: 40%;
  }
  .container3 .img-9 img {
    height: 40%;
  } 
}




/*--------------------------------------------------------------
# Section-four
--------------------------------------------------------------*/
.Section-four {
  background: url("../images/page-1 (Home)/section-4/background.svg") top center;
  background-size: cover;
  position: relative;
  height: 100% ;
}
.Section-four p {
  margin-top: 1.3em;
}
.card-main {
  padding-inline: 4.5em;
}
.card {
  color: white;
  background-color: #0076e400;
  margin-bottom: 1.5em;
  width: 310px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  border: 1.5px solid white;
  border-radius: 5px;
}
.card:hover {
  background: rgba(0, 116, 228, 0.3);
  border: 1.5px solid #ffffff00;
  transition: 0.5s;
}
.card-heading {
  display: flex;
  align-items: center;
}
.card-heading span {
  padding: 10px;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
}
.card h6 {
  width: 250px;
  margin: 0;
  margin-top: 1em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 160%; 
  letter-spacing: 0.01em;  
}

@media (max-width : 576px)
{
  .Section-four .container > .row {
    overflow-x: auto;
  }
  .Section-four .mobile-card-container {
    justify-content: unset !important;
    margin-left: 0em;
  }
  .Section-four .mobile-card-container .col-12 {
    width: auto;
  }
  .card:hover {
    border: none;
  }
}
@media (max-width: 992px) {
  .Section-four {
    background-position: 10% 0%;
  }
  .Section-four p {
    margin-top: 1em;
    line-height: 70%;
  }
  .Section-four p span {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  .card {
    background: rgba(0, 116, 228, 0.3);
    border: none;
  }
  .card-main {
    padding: 0%;
  }
  .Section-four h5 {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.01em;  
  }
}
.Section-four h5 {
  margin-top: 20px;
  color: white;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 160%;
}




/*--------------------------------------------------------------
# Section-four-portion-two
--------------------------------------------------------------*/
.section-four-P2 {
  background: #16bb9d;
}
.box-two {
  padding: 2em;
  width: auto;
  height: auto;
  border: none;
  background: #060B25;
  backdrop-filter: blur(19px);
  border-radius: 20px;  
}
.box-two:hover {
  background: #060B25;
}
.box-two h6 {
  font-weight: 200;
  line-height: 150%;
}
.card-inner {
  padding: 1.5em;
  height: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #060B25;
  background-blend-mode: multiply;
  border: 2px solid #0074E4;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.card-inner span {
  margin-left: 1em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.card-inner:hover {
  background: rgba(4, 32, 58, 0.295);
  background-blend-mode: multiply;
  border: 2px solid #0074E4;
}
.card-block-one {
  padding-left: 12em;
}
.card-block-two {
  padding-left: 8em;
}
.card-block-three {
  padding-left: 4em;
}
.card-description-one {
  color: #FFFFFF;
  margin-top: -5.5em;
  width: 31em;
  float: right;
  margin-right: 2em;
}
.card-description-two {
  color: #FFFFFF;
  margin-top: -5.5em;
  width: 31em;
  float: right;
  margin-right: 6em;
}
.card-description-three {
  color: #FFFFFF;
  margin-top: -5.5em;
  width: 31em;
  float: right;
  margin-right: 10em;
}
.box h6 {
  font-weight: 200;
  line-height: 160%;
  letter-spacing: 0.01em;
}
@media (max-width: 992px) {
  .box {
    backdrop-filter: blur(10px);
  }
  .box .card {
    width: auto;
  }
  .card-inner {
    width: auto;
  }
  .card-block-one, .card-block-two, .card-block-three{
    padding-left: 0;
  }
  .card-description-one, .card-description-two, .card-description-three {
    margin: auto;
    margin-right: 1em;
    width: auto;
    float: none;
  }
}




/*--------------------------------------------------------------
# Section-five
--------------------------------------------------------------*/
#Section-five {
  background: url("../images/page-1 (Home)/section-5/background.svg") top center;
  background-size: cover;
  position: relative;
  height: 100% ;
}
.section-title-P2 p {
  margin: 0;
  margin-top: 1em !important;
  margin-bottom: 0.5em;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: 'inter' !important;
  color: #3F3F3F;;
}
@media (max-width: 992px) {
  .Section-five {
    background-position: 10% 0%;
  }
  .section-title-P2 p {
    line-height: 0;
    margin-bottom: 0.5em;
  }
  .section-title-P2 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 36px !important;
    line-height: 120% ;
    letter-spacing: -0.02em ;  
  }
}
#section-five-left, #section-five-right {
  float: left;
  width: 50%;
  padding: 1em;
}
.card-inner-S5-left, .card-inner-S5-right{
  padding: 2em;
  background: #FFFFFF;
  box-shadow: 0px 4px 17px rgba(215, 215, 215, 0.25);
  border-radius: 10px;  
  height: 24em;
  width: 28em;
  margin: 0 auto; 
  float: none;
  margin-bottom: 10px; 
}
.card-inner-S5-left:hover + .section-five-left {
  background: #0074E4;
}
.section-five-parent h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%; 
  letter-spacing: -0.01em;
  margin-bottom: 0.75em;
  color: #0074E4;
}
.section-five-parent p {
  width: 365px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  margin-bottom: 1.5em;
  color: #747474;
}
.section-five-parent button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  position: static;
  border: 1px solid #0074E4;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #0074E4;   
  background: none;     
}
.section-five-parent button:hover {
  background: #DAEDFF;
  transition: 0.5s;  
}
.card-inner-S5-left {
  margin-right: 0.5em;
}
.card-inner-S5-right {
  margin-left: 0.5em;
}
@media (max-width: 992px) {
  #section-five-left, #section-five-right {
    float: none;
    width: 100%;
    padding: 1em;
  }
  .card-inner-S5-left, .card-inner-S5-right {
    height: auto;
    width: auto;
    margin: auto;
    padding: 1em;
  }
  .section-five-parent p {
    font-size: 14px;
    width: auto;
  }
}




/*--------------------------------------------------------------
# Section-six
--------------------------------------------------------------*/
.container-six {
  margin-inline: 8em;
}
#Section-six {
  background: url("../images/page-1 (Home)/section-6/background.svg") top center;
  background-size: cover;
  position: relative;
  height: 100% ;
}
#Section-six .section-title {
  margin-bottom: -1.5em;
}
.Section-six h5 {
  padding-top: -1em;
  position: static;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #747474;
}
.card-s6-parent {
  padding-inline: 1em;
  margin-left: auto;
  margin-right: auto !important;
}
.card-s6 {
  padding: 2em;
  height: 13em;
  width: auto ;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  border: 2px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 10px;    
  margin-bottom: 1em;
}
.card-s6:hover {
  background: #ECF6FF;
  border: 2px solid #BDE0FF;
  transition: 0.5s;
  box-sizing: border-box;
}
.card-heading-s6 {
  margin-top: 1em;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em; 
  color: #0074E4;
  margin-bottom: 0.7em;
}
.card-heading-s6 span {
  margin-left: 0.5em;
}
.card-s6-parent h6 {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em; 
  color: #747474;  
  margin-bottom: 1.5em;
}
@media (max-width: 992px) {
  .container-six {
    margin-inline: 0.5em;
  }  
  .card-s6 {
    background: #ECF6FF;
    border: 2px solid #BDE0FF;
    box-sizing: border-box;
  }
  .container-six > .row {
    overflow-x: auto;
  }
  .Section-six .mobile-card-container {
    justify-content: unset !important;
  }
  .Section-six .mobile-card-container .col-12 {
    width: 90%;
  }
}




/*--------------------------------------------------------------
# Section-seven
--------------------------------------------------------------*/
.Section-seven {
  background: url("../images/page-1 (Home)/section-7/background.svg") top center;
  background-size: cover;
  position: relative;
  height: 110%;
  padding: 0;
}
.container-S7 {
  padding-bottom: 3em;
}
.Section-seven img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;  
}
.box-S7 {
  margin-top: 7em !important;
  margin: auto;
  background: #FFFFFF;
  height: auto;
  box-shadow: 0px 15px 30px rgba(162, 162, 162, 0.06);
  border-radius: 20px;
}
.title-S7 {
  padding-top: 1em;
}
.box-inner-S7 {
  padding-top: 1em;
  padding-left: 0%;
  padding-right: 2em;
  margin-bottom: 2em !important;
  float: left;
  margin: auto;
  height: auto;
  border-radius: 20px;
}
details { 
  margin-bottom: 1em !important;
	margin: auto; 
	position: relative;
}
.box-inner-S7 summary span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.01em;  
} 
.summary-content {
	padding-left: 1em;
  padding-right: 4em;
  font-family: 'Inter';
  font-style: normal;
  color: #3F3F3F;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
}
.Section-seven details[open]>summary {
  color: #0074E4;
  transition: 0.5s;
}
summary {
	list-style: none;
	padding: 1rem;	
}
.summary:focus {
  outline: none;
}
.summary:hover .summary-chevron-up svg {
  opacity: 1;
}
.summary-chevron-up svg {
	opacity: 0.5;
}
.summary-chevron-up,
.summary-chevron-down {
	pointer-events: none;
	position: absolute;
	top: 0.75em;
	right: 1em;
	background: #ffffff;
}
svg {
  margin-top: 0.5em;
	display: block;
}
summary::-webkit-details-marker {
	display: none;
}
@media (max-width: 992px) {
  .box-S7 {
    margin-top: 1em !important;
  }
  .box-inner-S7 {
    padding: 1.2em;
    margin: auto;
  }
  .Section-seven {
    height: 100%;
  }
  .box-inner-S7 summary span {
    font-size: 16px;
  }
  .summary-content {
    font-size: 14px;
  }
}




/*--------------------------------------------------------------
# Section-eight
--------------------------------------------------------------*/
.Section-eight {
  background: #FCFCFC;
}
.section-title-S8 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: 'inter' !important;
  color: #3F3F3F;;
}
.Section-eight h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.01em; 
  color: #747474;  
}
.description-S8 {
  margin: auto;
  width: 45em;
}
.container-S8 {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-inline: 10em;
}
.images-S8 {
  justify-content: space-evenly;
}
.Section-eight img {
  height: 150px;
  width: 150px;
}
@media (max-width: 992px) {
  .Section-eight {
    padding-bottom: 0 !important;
  }
  .section-title-S8 {
    font-size: 36px;
  }
  .description-S8 {
    width: auto;
  }
  .container-S8 {
    padding: 0;
    margin-top: 1em;
  }
  .images-S8 {
    display: flex;
  }
  .Section-eight img {
    width: 100px;
  }
}





/*--------------------------------------------------------------
# Section-nine
--------------------------------------------------------------*/
.Section-nine {
  background: #FCFCFC;
}
.container-S9 {
  background: url("../images/page-1 (Home)/section-9/background.svg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  position: relative;
  height: 338px;
  padding: 0;
  margin-bottom: 1em;
}
.Section-nine h2 {
  padding-top: 1.5em;
  padding-bottom: 0.25em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;  
}
.Section-nine button {
  padding: 0.75em;
  padding-inline: 1.5em;
  text-align: center;
  background: #FFFFFF;
  border: none;
  border-radius: 5px; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  color: #0074E4;   
}
.Section-nine button a:hover {
  color: #0074E4;
}
.Section-nine button:focus {
  background: linear-gradient(0deg, #D8EBFE, #D8EBFE), #FFFFFF;
  box-shadow: 10px 10px 24px rgba(73, 90, 107, 0.23);
}
.Section-nine button div {
  float: right;
}
.Section-nine button img {
  padding-left: 0.5em;
  height: 1.25em;
  padding-bottom: 5px;
}
button>div { display: none; }
button:hover>div { display: block; }
@media (max-width: 992px) {
  .Section-nine h2 {
    font-size: 32px;
    padding-inline: 0.25em;
  }
  .Section-nine button {
    padding-block: 0.5em;
    margin-top: 0.5em;
  }
}





/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  background-color: #FCFCFC;
  padding-bottom: 0 !important;
}
.logo-footer {
  float: left;
}
.description-footer {
  padding-top: 0.5em;
  padding-left: 12em;
}
.description-footer img {
  padding-right: 1em;
}
.social-icons {
  margin: auto;
  padding: 0.75em;
}
.social-icons span {
  color: #3F3F3F;
}
.social-icons-float {
  float: left;
}
.footer-links {
  margin-top: -1em;
  margin-bottom: 3em;
}
.footer-links a {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%; 
  letter-spacing: 0.01em; 
  color: #3F3F3F;  
}
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer-links a:hover {
  color: #0074E4;
}
.footer hr {
  border: 1px solid #0074E4;
}
@media (max-width: 992px) {
  .logo-footer {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .social-icons {
    display: flex;
    width: 18em;
    justify-content: center;
  }
  .social-icons-float {
    float: none;
  }
  .description-footer {
    text-align: center;
    padding: 2em;
    padding-top: 4em;
  }
  .social {
    text-align: center;
    padding-block: 3em;
  }
  .social img {
    padding-inline: 1em;
    width: 62px;
  }
  .footer-links {
    margin-top: -2em;
    margin-bottom: 5em;
    justify-content: center;
    display: flex;
  }
  .footer-links a {
    width: 7em;
    text-align: center;
  }
}





/*--------------------------------------------------------------
# Copyright
--------------------------------------------------------------*/
.Copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}